@import url('https://fonts.googleapis.com/css?family=Lora');
* {
  font-family: Lora, serif;
}
body {
  padding: 0;
  margin: 0;
}
.wrap {
  width: 100vw;
}
.center-float {
  max-width: 30rem;
  margin: 3rem auto;
  text-align: center;
}
.center-float h1 {
  font-size: 2rem;
  font-weight: normal;
}
.center-float img.logo {
  width: 3rem;
}
.poem {
  font-size: 1rem;
}
.description {
  font-size: 1rem;
}

hr {
  width: 45%;
  height: 1px;
  border: 1px solid lightgrey;
  border-width: 1px 0 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
p {
  font-size: 1rem;
}
a {
  color: #4834d4;
}
a:visited {
  color: #eb4d4b;
}
footer {
  max-width: 30rem;
  margin: 0 auto;
}

